name: deploy-stage

on:
  workflow_run:
    workflows:
      - check
    types:
      - completed
    branches:
      - stage

jobs:
  aws-deploy:
    uses: "./.github/workflows/aws-deploy.yaml"
    with:
      role-to-assume: "arn:aws:iam::681175625864:role/sagebase-github-oidc-sage-bionetworks-it-agora-infra-v3"
      role-session-name: ${{ github.repository_owner }}-${{ github.event.repository.name }}-${{ github.run_id }}
      environment: stage
